body {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Verdana, sans-serif; 
}
.clear {
    clear: both;
}
input[type="number"] {
    width: 75px;
    text-align: right;
    font-size: 100%;
}
table {
    padding: 10px;
    font-size: 150%;
}
td {
    padding: 5px;
}
#btnOk {
    margin: 30px 70px;
    font-size: 150%;
    width: 100px;
}